<p id="notice"><%= notice %></p>

<h1>Welcomes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @welcomes.each do |welcome| %>
      <tr>
        <td><%= welcome.description %></td>
        <% if current_user.try(:admin?) %>
        <td><%= link_to 'Edit', edit_welcome_path(welcome) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>