<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron">
          <h1>상경대학<br>세미나실<br>예약페이지</h1>
            <p><%= link_to "회원가입", new_user_registration_path, class: "btn btn-primary btn-md" %> <%= link_to "로그인", new_user_session_path, class: "btn btn-primary btn-md"%></p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <% @welcomes.each do |welcome| %>
            <p><%= welcome.description.html_safe %></p>
            <% if current_user.try(:admin?) %>
              <%= link_to 'Edit', edit_welcome_path(welcome)%>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-default" role="navigation">
  <div class="panel-footer" id="footer">
    <div class="col-md-offset-4">
       <ul>
         <i class="fa fa-handshake-o" aria-hidden="true"> 건국대학교 상경대학 동행 </i><br>
         <i class="fa fa-hand-peace-o" aria-hidden="true"> Developed by </i>
         <i class="fa fa-angle-right" aria-hidden="true"> 응용통계14정다혜,컴퓨터공학15우미연</i> <br>
         <i  class="fa fa-copyright" aria-hidden="true"> KONKUK LIKELION 5th</i> 
       </ul>
    </div>
  </div>
</div>
