<h1 class="title">세미나실 예약</h1>

<div class="calendar"></div>

<br>

<style>
  .calendar{
    overflow: hidden;
  }
  .fc .fc-toolbar > * > *{
    float: none;
    margin-left: 0;
  }
  .displaycolor{
    margin-top: 22px;
    text-align: left;
    display: flex;
  }
  .room{
    padding: 7px;
    flex: 1;
    margin-right: 10px;
    padding: 6px 10px;
  }
  #room205 {
    color: #FFEB3B;
    border: 1px solid #FFEB3B;
  }
  #room206 {
    color: #FFC107;
    border: 1px solid #FFC107;
  }
  #room207 {
    color: #FF9800;
    border: 1px solid #FF9800;
  }
  h1.title{
    font-weight: 100;
  }
  .fc-ltr .fc-axis{
    text-align: center;
  }
</style>
