<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default reservationform">
      <div class="panel-heading">
		<h1>예약하기</h1>
	  </div>
	  <div class="panel-body">
      	<%= render 'form', reservation: @reservation %>
		<%= link_to 'Back', reservations_path %>
	  </div>
	</div>
  </div>
</div>
